.categories__comic {

    // min-height: 100vh;
    // background-color: var(--background-content-color);
    // margin-left: 32px;
    // padding: 12px 10px;
    .heading {
        display: flex;
        justify-content: center;
        color: #fff;
    }

    .categories__wrapper {
        margin-top: 20px;
        font-size: 2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        input {
            margin: 0 12px;
        }
    }

    .categories__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        margin-top: 16px;

        button {
            background-color: var(--background-btn-color);
            border: none;
            color: white;
            padding: 8px 10px;
            border-radius: 5px;

        }
    }
}