.container {
    height: 800px;
    background-color: var(--background-content-color);
    margin-left: 32px;

    .heading {
        color: var(--text-color);
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
    }

    .chapter__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;

        .chapter__form {
            margin: 0 10px;
        }

        .selected__wrapper {
            width: 200px;
            margin-top: 12px;
            border-radius: 99px;
        }

        .markDown__wrapper {
            flex: 1;
            max-width: 800px;
            height: 400px;
            margin: 0 auto;
        }

    }

    .btn-submit {
        padding: 8px 6px;
        font-size: 1.4rem;
        background-color: transparent;
        border: 1px solid white;
        max-width: 120px;
        margin-top: 16px;
    }

}