.profile__wrapper {
    margin-left: 32px;
    padding: 18px 20px;
    min-height: 100vh;
    background-color: var(--background-content-color);
    border-radius: 10px;
    margin-bottom: 60px;

    .profile__user {
        display: flex;

        .profile__image {
            border-radius: 999px;
            border: 1px solid #999;
            object-fit: contain;
        }

        .profile__info {
            color: #fff;
            margin-top: 4px;
            margin-left: 20px;

            .profile__name {
                display: block;
                font-size: 2.8rem;
                font-weight: 700;
            }

            .profile__email {
                display: block;
                font-size: 1.8rem;
                font-weight: 600;
            }

            .profile__repear {
                background-color: #383838;
                color: #fff;
                font-size: 1.6rem;
                padding: 6px 12px;
                border: none;
                font-weight: 600;
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 5px;

                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                }

                .btn-icon {
                    margin-right: 8px;
                }
            }
        }

    }

    .profile__categorical {
        display: flex;
        color: #fff;
        font-size: 1.7rem;
        margin-top: 16px;
        font-weight: 300;

        .number__folow,
        .number__like {
            font-weight: 700;
            margin-right: 4px;
        }
    }

    .profile__content {

        .profile__header {
            display: flex;
            text-align: center;
            color: rgba(255, 255, 255, .8);
            font-size: 2rem;
            font-weight: 600;
            margin-top: 20px;
            position: relative;
            padding: 8px 0;

            &::after {
                position: absolute;
                bottom: 0px;
                left: 0px;
                content: "";
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.12);
                transform: scaleY(0.5);
            }

            .header__category {
                margin-right: 20px;
                border-bottom: 2px solid rgba(255, 255, 255, .8);
                cursor: pointer;
            }

        }

        .profile__category-wrapper {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .follow-item {
                width: 25%;
            }

            .no__follow {
                text-align: center;
                margin: 0 auto;

                .no__follow--title {
                    color: #fff;
                    font-size: 1.8rem;
                    padding: 10px 0;
                }

                .no__follow--image {
                    max-width: 300px;
                    max-height: 300px;
                    object-fit: cover;
                }
            }

        }
    }

}