.footer {
    background: var(--background-content-color);
    color: var(--text-color);
    padding: 18px 12px;

    .info {
        max-width: 250px;
        text-align: center;
        line-height: 2rem;
        margin-right: 20px;

        img {
            border-radius: 999px;
            max-height: 100px;
            max-width: 150px;
            margin-bottom: 16px;
        }

        p {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    .useful-link {
        font-size: 2rem;
        font-weight: 600;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 12px 0;
            font-size: 1.4rem;
        }
    }

    .footer-icon {
        margin-right: 10px;
        font-size: 1.4rem;
    }
}