.categories__container {
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 80px;

    .category__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        // .book {
        //     width: 16.666666666666668%;
        // }
    }
}