.chapter__wrapper {
    background-color: var(--background-content-color);
    min-height: 100vh;
    margin-top: 20px;


    .chapter__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 16px;

        h1 {
            color: #e4e6eb;
            font-size: 3rem;
        }
    }

    .pagination-bottom {
        padding-bottom: 40px;
        margin-bottom: 10px;
    }

    .content__container {
        font-size: 2rem;
        color: #e4e6eb;
        padding: 10px 20px;
        font-weight: 400;
        line-height: 4rem;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 500px;
        max-height: 600px;
        object-fit: cover;
    }

    .btn__home {
        position: fixed;
        bottom: 40px;
        right: 72px;
        padding: 4px 8px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #0c6fc2;
        border-radius: 5px;
        font-size: 2rem;
        cursor: pointer;
        opacity: 0;
        transition: opacity .8s ease-in-out;
    }

    .show {
        opacity: 1;
    }
}