.detail__comic {
    background-color: var(--background-content-color);
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;

    .detail__container {
        padding: 12px 16px 40px 16px;

        .detail__heading {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 1.8rem;
            font-weight: 600;

            .detail-home {
                cursor: pointer;
            }

            .icon {
                margin: 0 2px;
            }

            .home__page--title {
                margin: 0 4px;
            }
        }

        .content__container {
            display: flex;
            color: white;
            margin-top: 40px;
            margin-left: 20px;

            .content__image {
                height: 338px;
                width: 230px;
                position: relative;

                img {
                    width: 100%;
                    max-height: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 5px;
                }

                .content__follow {
                    position: absolute;
                    top: 3px;
                    left: 4px;
                    border-radius: 5px;
                    overflow: hidden;

                    .follow-btn {
                        font-size: 1.6rem;
                        font-weight: 700;
                        padding: 4px 10px;
                        border: none;
                        color: #000;
                        background-color: rgba(227, 229, 235, .6);
                    }

                }
            }

            .content__info {
                margin-left: 26px;

                .info__name {
                    font-size: 2.2rem;
                    font-weight: 600;
                }

                .datails__title {
                    margin-top: 10px;
                    font-size: 1.8rem;
                    font-weight: 300;

                    .title__wrapper {
                        margin: 12px 0;
                        display: flex;

                        .title-name {
                            width: 180px;

                            .title-icon {
                                width: 20px;
                            }

                            .title__text {
                                margin-left: 8px;
                            }

                        }

                        .list-action {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            padding: 0;

                            li {
                                list-style: none;
                                color: white;
                                font-size: 1.2rem;
                                font-weight: 600;
                                padding: 4px;
                                margin: 0 4px;
                                border: 1px solid #e4e6eb;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .read__type {
                    display: flex;

                    .read__btn--first {
                        background-color: #8bc34a;
                        margin-right: 20px;
                    }

                    .read__btn--new {
                        background-color: #ff3860;
                    }

                    .read__btn--new,
                    .read__btn--first {
                        padding: 10px 16px;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: white;
                        border: none;
                        border-radius: 6px;
                    }

                    .read-icon {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    .description__container {
        overflow: hidden;
        margin-top: 40px;
        max-height: 180px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e4e6eb;

        .description__heading {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 12px;

            .introduce {
                margin-left: 6px;
            }
        }

        .description__content {
            font-size: 1.6rem;
            line-height: 2rem;
            color: #e4e6eb;
        }
    }

    .btn-description {
        display: flex;
        margin: 20px auto;
        font-size: 1.6rem;
        padding: 6px 6px;
        background-color: #ff3860;
        border: none;
        color: white;
        border-radius: 5px;
    }

    .chapter__container {
        margin-top: 10px;

        .chapter__title {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 12px;

            .title__list {
                margin-left: 8px;
            }
        }

        .list__chapter {
            border: 1px solid white;
            padding: 16px 10px;
            border-radius: 5px;
            overflow-y: auto;
            max-height: 500px;

            .chapter__item {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid white;
                font-size: 1.8rem;
                color: #e4e6eb;
                padding: 8px 0;
            }

            .no-chapter {
                font-size: 2rem;
                display: flex;
                justify-content: center;
                padding-bottom: 26px;
            }
        }
    }
}

//mb
@media (max-width:739px) {
    .detail__heading {
        font-size: 1.4rem !important;
    }

    .content__container {
        display: block !important;
        margin-top: 20px !important;
        margin-right: 0 !important;

        .content__image {
            height: 100%;
            width: 100%;
            position: relative;
            margin: 0 auto;

            img {
                width: 100%;
                max-height: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        .content__info {
            padding-top: 16px;

            .info__name {
                display: none;
            }

            .title__wrapper {


                .title-name {
                    font-size: 1.6rem;
                    width: 150px !important;
                }

                .title__content {
                    flex: 1;
                    font-size: 1.4rem;
                }
            }

        }

        .read__type {
            .read__btn--first {
                margin-right: 12px;
            }

            .read__btn--new,
            .read__btn--first {
                padding: 6px 10px !important;
                font-size: 1.2rem !important;
                font-weight: 500 !important;
            }

            .read-icon {
                margin-right: 6px;
            }
        }
    }

}