@import 'normalize.css';

* {
    box-sizing: border-box;
    // overflow: hidden;

    /* Tạo thanh cuộn dọc */
    &::-webkit-scrollbar {
        width: 4px;
        /* Độ rộng thanh cuộn */
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        /* Màu nền thanh cuộn */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Màu của thanh cuộn */
        border-radius: 4px;
        /* Độ cong viền thanh cuộn */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
        /* Màu của thanh cuộn khi hover */
    }

    /* Tạo thanh cuộn ngang */
    &::-webkit-scrollbar-horizontal {
        height: 8px;
        /* Độ cao thanh cuộn */
    }

    &::-webkit-scrollbar-thumb:horizontal {
        background-color: #888;
    }

    &::-webkit-scrollbar-thumb:hover:horizontal {
        background-color: #555;
    }
}

html {
    color: white;
    font-size: 62.6%;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        display: block;
    }
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;

}

:root {
    --background-header-color: #242526;
    --background-content-color: #242526;
    --background-color: #18191A;
    --color-primary-boder: #B0B3B8;
    --background-btn-color: #2374E1;
    --background-btn-color-hover: #3871bb;
    --text-color: #969696;
    --color-content: #e4e6eb;
    --color-icon: #1b86f6;
    --background-active: #252f3c;
}