@import 'normalize.css';

* {
    box-sizing: border-box;
    --bs-gutter-x: 0 !important;
}

html {
    font-size: 62.6%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
}

:root {
    --background-header-color: #242526;
    --background-color: #18191A;
    --color-primary-boder: #B0B3B8;
    --background-btn-color: #2374E1;
    --background-btn-color-hover: #3871bb;
    --text-color: #969696;
}