.categories__comic {
    width: 90%;
    margin: 0 auto;

    .categories__wrapper {
        margin-top: 20px;
        font-size: 2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        input {
            margin: 0 12px;
        }
    }

    .categories__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        margin-top: 16px;

        button {
            background-color: var(--background-btn-color);
            border: none;
            color: white;
            padding: 8px 10px;
            border-radius: 5px;

        }
    }
}